.modal {
  padding: 0 20px;
  color: #c5020b;
  hr {
    margin: 3px;
    border: 1px solid;
  }
  &__item {
    color: #c5020b;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding-top: 10px;
    svg {
      margin-right: 7px;
    }
    dd {
      padding: 5px 20px;
      margin-bottom: 0px;
    }
  }
  &__item a:hover {
    color: gray;
    transition: all 0.15s linear;
  }
}
