@import '../node_modules/bootstrap/scss/bootstrap';
$light-dark-color: #eaecef;

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  height: 100%;
  width: 100vw;
}
.wrapper {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.scrollBar:hover::-webkit-scrollbar,
::-webkit-scrollbar {
  width: 0px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  height: 90px;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.container {
  padding: 20px;
}
.container_fluid {
  background: #fefeff;
}
h1 {
  color: #661a1b;
  font-size: 55px;
  font-weight: bold;
  line-height: 1.1;
}
h6 {
  color: #c5040a;
  font-size: 14px;
  letter-spacing: 4px;
  font-weight: bold;
  text-transform: uppercase;
}
.button_group {
  margin-top: 50px;
}
@media (max-width: 1200px) {
  .container {
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 992px) {
  .container {
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
    width: 100%;
    max-width: 990px;
  }
  .col-md-6 {
    width: 100%;
  }
}
.ReactModal__Overlay.ReactModal__Overlay--after-open {
  background-color: transparent !important;
}
.ReactModalPortal {
  background-color: #fbfbfc;
}
.highcharts-credits {
  display: none;
}
.text-red {
  color: #f00605 !important;
}
.text-green {
  color: #0fdb8c !important;
}
.text-gray {
  color: #a3a3a3 !important;
}
.text-underline {
  text-decoration: underline;
}
.bg-red {
  background-color: #f00605 !important;
}
.bg-green {
  background-color: #0fdb8c !important;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
  -webkit-appearance: none;
  margin: 0;
}
.MathJax.CtxtMenu_Attached_0 {
  margin: 5px 10px !important;
}

.react-grid-layout {
  position: relative;
}
.react-grid-item {
  transition-property: left, top;
  &:hover .react-resizable-handle {
    display: block;
  }
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.react-grid-placeholder {
  background: red;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item .react-resizable-handle {
  cursor: se-resize;
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 3px;
  right: 3px;
  padding: 0 3px 3px 0;
  box-sizing: border-box;
  display: none;
  content: '';
  border-right: 2px solid rgb(198, 202, 208);
  border-bottom: 2px solid rgb(198, 202, 208);
}
.dark .highcharts-background {
  fill: #181a20;
}
.draggableHandle {
  cursor: grab;
}
.nav-link.active {
  text-decoration: underline;
}
.loading {
  text-align: center;
  height: 100%;
  margin: auto;
  font-size: 1.5rem;
}
.ag-root-wrapper {
  border-radius: 5px;
  box-shadow: 0 0 5px gray;
}
.ag-header-row {
  background-color: #f4f4fa;
}
.dark {
  .ag-header-row {
    background-color: gray !important;
    color: $light-dark-color !important;
  }
  .ag-center-cols-viewport {
    background-color: #181a20 !important;
  }
  .ag-row-even {
    background-color: #181a20 !important;
    color: $light-dark-color !important;
  }
  .ag-row-odd {
    background-color: #181a20 !important;
    color: $light-dark-color !important;
  }
  tspan {
    fill: $light-dark-color;
  }
  .highcharts-legend-item text {
    color: $light-dark-color !important;
    fill: $light-dark-color !important;
  }
  .highcharts-axis-labels text {
    color: $light-dark-color !important;
    fill: $light-dark-color !important;
  }
}
.react-financial-charts-tooltip-label {
  fill: #4682B4 !important;
}
.css-qcxco2 {
  text-align: center;
}
.css-qcxco2 input {
  text-align: center;
  background-color: transparent;
  border: none;
  color: white;
}
.css-qcxco2 textarea {
  text-align: center;
  background-color: transparent;
  border: none;
  color: white;
}
.css-mtwhol {
  text-align: center;
}
.css-lldskh, .css-14ytlrw {
  font-size: 12px;
}