.container {
  display: grid;
  grid-template-columns: 1fr minmax(200px, 300px);
  padding: 10px;
  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}
.depthchart {
  padding: 20px 2%;
  &__content {
    margin: auto;
  }
}
.stockchart {
  padding: 20px 2%;
  table tr:first-child td {
    cursor: crosshair;
  }
  &__content {
    margin: auto;
  }
}
.placeorder {
  margin: 20px;
  &__menu {
    padding: 10px 0;
    button {
      border: none;
      background-color: transparent;
      padding: 0px;
    }
    &_focus {
      text-decoration: underline;
    }
    span {
      margin: 0 10px;
    }
  }
  @media (max-width: 767px) {
    margin: 20px 5%;
  }
}
.previeworder {
  margin: 20px;
  &__title {
    span {
      font-weight: bold;
    }
  }
  &__header {
    display: flex;
    &_price {
      flex: 1;
      text-align: left;
      font-size: 12px;
    }
    &_amount {
      flex: 1;
      text-align: right;
      font-size: 12px;
    }
    &_total {
      flex: 1;
      text-align: right;
      font-size: 12px;
    }
  }
  &__price {
    h5 {
      display: flex;
      align-items: center;
      font-size: 20px;
      margin: 0px;
      span {
        margin-left: 20px;
        font-size: 12px;
      }
    }
  }
  &__content {
    padding: 10px 0px;
    &_order {
      display: flex;
      &_price {
        flex: 1;
        text-align: left;
        font-size: 12px;
      }
      &_amount {
        flex: 1;
        text-align: right;
        font-size: 12px;
      }
      &_total {
        flex: 1;
        text-align: right;
        font-size: 12px;
      }
    }
  }
  @media (max-width: 767px) {
    margin: 20px 5%;
  }
}
.pair {
  padding: 10px 5%;
  display: flex;
  align-items: center;
  column-gap: 40px;
  &__select {
    height: fit-content;
    padding: 5px;
    text-transform: uppercase;
  }
  &__formula {
    display: flex;
    @media (max-width: 500px) {
      flex-direction: column;
    }
  }
}
.orderform {
  &__input {
    &_item {
      display: grid;
      grid-template-columns: 50px 1fr 50px;
      align-items: center;
      margin: 10px 0px;
      padding: 8px 10px;
      background-color: rgba(230, 232, 234, 0.6);
      border-radius: 5px;
      &_name {
        color: #848e9c;
        font-size: 0.875rem;
      }
      &_value {
        padding: 5px;
        border: none;
        background-color: transparent;
        text-align: right;
        width: 100%;
        font-size: 0.875rem;
        &:focus {
          border: none;
          outline: none;
        }
      }
      &_unit {
        text-align: right;
        font-weight: bold;
        text-transform: uppercase;
        margin-left: 10px;
        font-size: 0.875rem;
      }
    }
    &_slide {
      height: 40px;
      &_slider {
        display: flex;
        align-items: center;
        background-color: rgba(230, 232, 234, 0.6);
        height: 10px;
      }
      &_mark {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        border: solid 3px red
      }
      &_thumb {
        top: 1rem;
      }
      &_track {
        height: 14px;
        width: 14px;
        border-radius: 50%;
        background-color: red;
      }
    }
  }
  &__confirm {
    button {
      width: 100%;
      border: none;
      border-radius: 5px;
      padding: 10px;
    }
    &_action {
      text-transform: capitalize;
      color: white;
      font-weight: bold;
    }
    &_target {
      text-transform: uppercase;
      color: white;
      font-weight: bold;
    }
  }
}
