$light-red: #e20100;

.navbar {
  background-color: #ffffff;
  &__container {
    display: flex;
    padding: 40px 5%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &_header {
      display: flex;
      align-items: center;
      gap: 20px;
      &_logo {
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        font-size: 1.25rem;
        text-decoration: none;
        white-space: nowrap;
        display: flex;
        align-items: center;
      }
      @media (max-width: 768px) {
        gap: 0px;
      }
    }
    &_launch {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 20px;
    }
  }
  &__nav {
    padding: 10px;
    &_mint {
      border: solid 1px #3a3a3a;
      border-bottom: none;
      border-top: none;
    }
    &_item {
      padding: 0 10px;
      span {
        text-decoration: none;
        color: #3a3a3a;
        padding: 0;
        line-height: 1;
        cursor: pointer;
        &:hover {
          color: #3a3a3a;
        }
        &:focus {
          text-decoration: underline;
          color: #3a3a3a;
        }
      }
      @media (max-width: 768px) {
        display: none;
      }
    }
    @media (max-width: 768px) {
      padding: 0px;
    }
  }
  &__connect_btn {
    position: relative;
    padding: 10px 30px;
    border-radius: 15px;
    background-color: $light-red;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: ease;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    @media (max-width: 768px) {
      display: none;
    }
    &_img {
      fill: #fff;
      background-color: transparent;
      border-radius: 0;
      position: absolute;
      left: 2px;
      top: 2px;
    }
    span {
      padding: 0 10px 0 15px;
    }
    &_arrow {
      position: absolute;
      right: 20px;
      top: 14px;
    }
    &_dropdown {
      display: none;
      position: absolute;
      color: #000;
      top: 45px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      padding: 1rem;
      text-align: left;
      background-color: #ffffff;
      z-index: 11;
      span {
        padding: 10px 0;
        border: 0;
        background-color: transparent;
        text-align: left;
      }
    }
    &:hover &_dropdown {
      display: grid;
    }
  }
  &__toggle {
    display: none;
    @media (max-width: 768px) {
      display: flex;
      border-radius: 4px;
      color: $light-red;
      border: 1px solid $light-red;
      padding: 8px;
      height: 30px;
      align-items: center;
    }
  }
  &__toggle:hover {
    color: white;
    background-color: $light-red;
  }
  &__bgswitch {
    border-radius: 40px;
    border: 1px solid #3a3a3a;
    background-color: #bdc2c4;
    &_day {
      background-color: transparent;
      border: 3px solid transparent;
      fill: #ffffff;
      &_active {
        border: 3px solid $light-red;
        border-radius: 50%;
        background-color: #ffffff;
        fill: #ffb237;
      }
    }
    &_night {
      background-color: transparent;
      border: 3px solid transparent;
      fill: #ffffff;
      &_active {
        border: 3px solid $light-red;
        border-radius: 50%;
        background-color: #000000;
      }
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
}
.navbar.dark {
  background-color: #181a20;
  .navbar__nav_item span {
    color: #ffffff;
  }
  .navbar__nav_mint {
    border: 1px solid #ffffff;
    border-bottom: none;
    border-top: none;
  }
}
.wallet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: fixed;
  inset: 0px;
  z-index: 99;
  &__wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #452a7a;
    transition: opacity 0.4s ease 0s;
    opacity: 0.6;
    z-index: 10;
    pointer-events: initial;
  }
  &__content {
    width: 320px;
    overflow: hidden;
    background: #ffffff;
    box-shadow: rgba(14, 14, 44, 0.1) 0px 20px 36px -8px,
      rgba(0, 0, 0, 0.05) 0px 1px 1px;
    border: 1px solid #e7e3eb;
    border-radius: 32px;
    max-height: 100vh;
    z-index: 100;
    &_header {
      align-items: center;
      background: linear-gradient(
        139.73deg,
        rgb(229, 253, 255) 0%,
        rgb(243, 239, 255) 100%
      );
      border-bottom: 1px solid rgb(231, 227, 235);
      display: flex;
      padding: 12px 24px;
      div {
        flex: 1;
        span {
          font-size: 20px;
          font-weight: 600;
          line-height: 1.1;
        }
      }
      button {
        align-items: center;
        border: 0px;
        border-radius: 16px;
        cursor: pointer;
        display: inline-flex;
        font-family: inherit;
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        letter-spacing: 0.03em;
        line-height: 1;
        opacity: 1;
        outline: 0px;
        transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
        height: 48px;
        padding: 0px 12px;
        background-color: transparent;
        color: #20c9d5;
        box-shadow: none;
        svg {
          align-self: center;
          fill: #1fc7d4;
          flex-shrink: 0;
        }
      }
    }
    &_wallets {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      max-height: 453px;
      overflow-y: auto;
      padding-top: 24px;
      padding-bottom: 24px;
      &_wallet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
        span {
          font-size: 0.875rem;
        }
      }
    }
    &_footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-self: center;
      margin: 0px;
      padding: 24px;
      border: 0px;
      font-size: 100%;
      vertical-align: baseline;
      button {
        align-items: center;
        border: 0px;
        border-radius: 16px;
        box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
        cursor: pointer;
        display: inline-flex;
        font-family: inherit;
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        letter-spacing: 0.03em;
        line-height: 1;
        opacity: 1;
        outline: 0px;
        transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
        height: 48px;
        padding: 0px 24px;
        background-color: #7a6eaa;
        color: #ffffff;
        width: 100%;
      }
    }
  }
}
.nowallet {
  position: fixed;
  width: 300px;
  max-width: 90vw;
  top: 1.5rem;
  right: 1rem;
  z-index: 2000;
  transform: translate3d(0px, 10%, 0px) scale(1);
  transition: transform 400ms ease 0ms, visibility 200ms ease 0ms,
    opacity 200ms ease 0ms;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(14, 14, 44, 0.8) 0px 0px 0px 1px inset;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    span {
      color: #7a6eaa;
      font-weight: bold;
    }
    button {
      background-color: #7a6eaa;
      color: #ffffff;
      border: 1px solid #7a6eaa;
      font-size: 0.875rem;
      border-radius: 5px;
      &:hover {
        background-color: transparent;
        color: #7a6eaa;
      }
    }
  }
}
.modal {
  display: none;
  position: fixed;
  border: 1px solid #cccccc;
  background: white;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  height: 100vh;
  top: 0px;
  right: 0px;
  z-index: 2;
  width: 0px;
  transition: all 2s ease 0s;
  &_header {
    padding: 0 20px;
    color: $light-red;
    text-align: right;
    hr {
      margin: 3px;
      border: 1px solid;
    }
  }
  &_content {
    &_types {
      display: flex;
      flex-direction: column;
      align-items: center;
      &_item {
        padding: 10px;
        color: $light-red;
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        background-color: transparent;
        text-align: left;
        width: 100%;
      }
      &_item:hover {
        background-color: #e7e3eb;
        transition: all 0.5s ease 0s;
      }
    }
    &_wallet {
      position: relative;
      padding: 10px 15px;
      text-align: center;
      border-radius: 15px;
      background-color: $light-red;
      transition-property: all;
      transition-duration: 250ms;
      transition-timing-function: ease;
      font-size: 0.9rem;
      font-weight: 700;
      color: white;
      border: 0;
      line-height: inherit;
      text-decoration: none;
      cursor: pointer;
      width: fit-content;
      &_img {
        fill: #fff;
        background-color: transparent;
        border-radius: 0;
        position: absolute;
        left: -4px;
        top: 6px;
        height: 30px;
      }
      span {
        padding: 0 10px 0 15px;
      }
      &_arrow {
        position: absolute;
        right: 10px;
        top: 14px;
      }
      &_dropdown {
        display: none;
        position: absolute;
        color: #000;
        top: 45px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 1rem;
        text-align: left;
        background-color: #ffffff;
        z-index: 11;
        span {
          padding: 10px 0;
          border: 0;
          background-color: transparent;
          text-align: left;
        }
      }
      &:hover &_dropdown {
        display: grid;
      }
    }
    &_connect {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0px;
      gap: 10px;
    }
  }
  &__bgswitch {
    border-radius: 40px;
    border: 1px solid #3a3a3a;
    background-color: #bdc2c4;
    width: fit-content;
    &_day {
      background-color: transparent;
      border: 3px solid transparent;
      fill: #ffffff;
      &_active {
        border: 3px solid $light-red;
        border-radius: 50%;
        background-color: #ffffff;
        fill: #ffb237;
      }
    }
    &_night {
      background-color: transparent;
      border: 3px solid transparent;
      fill: #ffffff;
      &_active {
        border: 3px solid $light-red;
        border-radius: 50%;
        background-color: #000000;
      }
    }
  }
}
.modal.active {
  display: block;
  width: 280px;
  transition: all 2s ease 0s;
  z-index: 10;
}
.modal.dark {
  background-color: #181a20;
}
