.composition {
  flex: 1;
  display: flex;
  flex-direction: column;
  table {
    border: 1px solid #babfc7;
    box-shadow: 0 0 5px grey;
    border-radius: 5px;
    thead {
      background-color: #f8f8f8;
    }
    tr {
      border: 1px solid #babfc7;
    }
    th, td {
      padding: 10px;
      border: 1px solid #babfc7;
    }
  }
}
.stats {
  @media (min-width: 992px) {
    flex: 1;
  }
}
.history {
  padding: 1.5rem;
}
.dark {
  background-color: #181a20;
  color: #eaecef;
}